.homeParent {
    height: 60vh;

    display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.headerGrid {
    grid-area: 1 / 1 / 2 / 3;
    margin-top:0px;
    margin-bottom: 0px;
    padding:10px;
    text-align:left;
}
.headerText {
    margin: 0px;
}
.subHeaderText {
    margin:0px;
    
}

.pageContentGrid {
    grid-area: 5 / 4 / 6 / 6;
}
.pageContent {
    text-align: left;
    padding: 5px;
    max-height: 150px;
    overflow-y: scroll;
    font-weight:bold;
}
