ul {
  width: 60vw;
    list-style-type: none;
    margin: auto;
    padding: 0;
    display:flex;
    justify-content: flex-end;
  }

li {
    font-weight: bold;
    padding:10px;
  }

.NavContainer {
  padding-top: 15vh;

}