.mainContent {
    border: medium dashed green;
    height: 60vh;
    width: 60vw;
    margin: auto;
}
.mainContent.dark{
    border: 4px solid white;
    

}

.mainContent.light{
    border: 4px solid black;

}